<div class="images-container">
  <div *ngIf="images && images.length > 0" #grid class="grid">
    <div *ngFor="let image of images; let i = index" class="grid-item">
      <fcc-image-with-fallback [imageUrl]="image.url"></fcc-image-with-fallback>
      <div class="buttons">
        <button *ngIf="showDelete && (authService.user && authService.user.username) === image.author" type="button"
                (click)="deleteImage(image._id, i)">
          <i class="fa fa-trash-o"></i>
        </button>
        <button type="button" (click)="likeImage(image._id, i)" [disabled]="!authService.user">
          <i *ngIf="!image.liked" class="fa fa-heart-o"></i>
          <i *ngIf="image.liked" class="fa fa-heart liked"></i>
          <span>{{image.likes}}</span>
        </button>
      </div>
      <a [routerLink]="['/', image.author, 'images']" class="author">
        {{image.author}}
      </a>
      <span>{{image.description}}</span>
    </div>
  </div>
  <div *ngIf="images && images.length <= 0" class="no-images">No images found.</div>
</div>
