<div class="menu">
  <a class="menu-item" href="/api/auth/twitter" *ngIf="authService.initialized && !authService.user">
    <button>Login with Twitter <i class="fa fa-twitter"></i></button>
  </a>
  <a class="menu-item" [routerLink]="['/home']" *ngIf="authService.user">
    <button>Home</button>
  </a>
  <a class="menu-item" [routerLink]="['/', authService.user.username, 'images']" *ngIf="authService.user">
    <button>My Images</button>
  </a>
  <a class="menu-item" [routerLink]="['/addImage']" *ngIf="authService.user">
    <button>Add Image</button>
  </a>
  <a href="/api/logout" class="menu-item" *ngIf="authService.user">
    <button>Logout</button>
  </a>
</div>
